/* Normalisation de la page */
@import url("normalize_css.css");

/* Police */
@font-face {
	font-family: 'shrikhand';
	src: url('../police/shrikhand-regular-webfont.eot');
	src: url('../police/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../police/shrikhand-regular-webfont.woff') format('woff'),
	url('../police/shrikhand-regular-webfont.ttf') format('truetype'),
	url('../police/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Variable */
$color-footer: #353535;

/* Mixin */
@mixin skeleton_bloc {
	padding-left: 1.1em;
	padding-right: 1.1em;
}

/* Footer */
footer {
	@include skeleton_bloc;
	color: white;
	background-color: $color-footer;
	border: solid red #353535;
	margin: 0;
	& .foot {
		& h1 {
			font-size: 1.2em;
			font-weight: normal;
			padding-top: 1.4em;
			margin-top: 0;
			margin-bottom: 1.2em;
		}
		& ul {
			margin: 0;
			padding: 0;
			&:last-child {
				padding-bottom: 1.6em;
			}
			& li {
				margin: 0;
				padding-bottom: 0.5em;
				list-style-type: none;
				& a {
					color: white;
					text-decoration: none;
					& i {
						font-size: 0.8em;
						width: 2em;
					}
				}
			}
		}
	}
}

@media all and (max-width: 991px) and (min-width: 760px) {
	footer {
		padding-left: 3em;
		padding-right: 3em;
	}
}

@media all and (min-width: 992px) {
	footer {
		display: flex;
		justify-content: center;
	}
	.foot {
		width: 53.5em;
	}
}