/* Importation */
@import url("normalize_css.css");
@import url("omf-footer.css");

/* Police */
@font-face {
  font-family: "shrikhand";
  src: url("../police/shrikhand-regular-webfont.eot");
  src: url("../police/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../police/shrikhand-regular-webfont.woff") format("woff"), url("../police/shrikhand-regular-webfont.ttf") format("truetype"), url("../police/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Variable */
$color-primary: #9356DC;
$color-secondary: #FF79DA; 
$color-tertiary: #99E2D0;
$color-footer: #353535;
$color-aside-ico: #7E7E7E;
$color-aside-txt: #f6f6f6;

/* Mixin */
@mixin skeleton_bloc {
	padding-left: 1.1em;
	padding-right: 1.1em;
}

@mixin bloc-shadows {
	box-shadow: 0 0.4em 0.4em #e6e6e6;
}

@mixin titre_bloc {
	margin-top: 1.8em;
	font-weight: bold;
	font-size: 1.6em;
	padding: 0;
}

@mixin aside_num_card {
	border-radius: 2em;
	background-color: $color-primary;
}

@mixin aside_card_ico ($color-i: $color-aside-ico) {
	margin-right: 1.3em;
	font-size: 1.1em;
	color: $color-i;
}

@mixin aside_card_text ($color-back: $color-aside-txt) {
	margin-top: 1.5em;
	margin-left: 0.9em;
	padding: 0.7em 2em 0.7em 2em; 
	display: flex;
	align-items: center;
	background-color: $color-back;
	border-radius: 1em;
	font-size: 1em; 
}

/* Page global */
#page {
	font-family: roboto, arial;
	display: flex;
	flex-direction: column;
}

h1, h2 {
	font-family: shrikhand, arial;
}

/* Header */
header {
	text-align: center;
}

header img {
	width: 10em;
	margin: 1.5em 0 0.5em 0;
}

/* Localisation */
.localisation {
	background: linear-gradient(#d0d0d0 0%, #eaeaea 10%, #eaeaea);
}

.loc-cont {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	font-size: 1em;
	font-weight: bold;
	color: $color-footer;
	&__ico {
		padding-right: 1em;
	}
}

/* Réservation */
#reservation {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #f6f6f6;
}

.res-text {
	margin: 0.7em 2em 0 2em;
	padding-top: 0;
	font-size: 1.2em;
	color: $color-footer;
	&--bold {
		margin: 1.5em 2em 0 2em;
		font-weight: bold;
		font-size: 1.6em;
		padding: 0;
	}
}

.res-btn {
	margin: 1.8em 0 3.5em 0;
	padding: 1em 1.4em;
	cursor: pointer;
	border-radius: 2.1em;
	font-size: 1em;
	color: white;
	background-image: linear-gradient($color-secondary, $color-primary);
	@include bloc-shadows;
}

/* Fonctionnement */
aside {
	@include skeleton_bloc;
	margin-bottom: 4.2em;
}

.bloc_titre {
	@include titre_bloc;
}

.aside-card {
	position: relative;
	margin-top: 0;
	&__bub {
		@include aside_num_card;
		position: absolute;
		top: 1.5em;
		padding: 0.2em 0.5em 0.2em 0.5em;
		&-num {
			color: white;
			font-size: 0.9em;
		}
	}
	&__text {
		@include aside_card_text;
		@include bloc-shadows;
		& i {
			@include aside_card_ico;
		}
		&-alt {
			@include aside_card_text(#f5edff);
			& i {
				@include aside_card_ico($color-primary);
			}
		}
	}
}

/* Restaurants */
section {
	@include skeleton_bloc;
	display: flex;
	flex-direction: column;
	background-color: #f6f6f6;
	margin-bottom: 0;
}


.restau-list {
	&:last-child {
		margin-bottom: 3em;
	}
	& a {
		text-decoration: none;
		color: black;
	}
	&-card {
		@include bloc-shadows;
		position: relative;
		display: flex;
		flex-direction: column;
		border-radius: 1em;
		margin-bottom: 1.1em;
		& img {
			width: 100%;
			height: 11em; 
			object-fit: cover;
			border-radius: 1em 1em 0 0;
			margin-bottom: 0;
		}
		&-txt {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.8em 1.6em 0.9em 0.8em;
			background-color: white;
			font-size: 1.1em;
			border-radius: 0 0 1em 1em;
			margin-top: 0;
			&__left {
				flex-direction: column;
				& p {
					margin: 0;
				}
				&-titre {
					font-weight: bold;
					padding-bottom: 0.4em;
				}
			}
		}
	}
}

.nota-nouveau {
	position: absolute;
	top: 0.9em;
	right: 0.9em;
	padding: 0.4em 0.9em 0.4em 0.9em;
	font-size: 0.9em;
	color: #008766;
	background-color: #99e2d0;
	border-radius: 0.2em;
}

.fa-heart {
	font-size: 1.4em;
}