/* Importation */
@import url("normalize_css.css");
@import url("omf-footer.css");

/* Police */
@font-face {
  font-family: "shrikhand";
  src: url("../police/shrikhand-regular-webfont.eot");
  src: url("../police/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../police/shrikhand-regular-webfont.woff") format("woff"), url("../police/shrikhand-regular-webfont.ttf") format("truetype"), url("../police/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Variable */
$color-primary: #9356DC;
$color-secondary: #FF79DA; 
$color-tertiary: #99E2D0;
$color-footer: #353535;
$color-aside-ico: #7E7E7E;
$color-aside-txt: #f6f6f6;
$color-shadow: #e6e6e6;

/* Mixin */
@mixin skeleton_bloc {
	padding-left: 1.1em;
	padding-right: 1.1em;
}

@mixin bloc-shadows {
	box-shadow: 0 0.4em 0.4em $color-shadow;
}

@mixin titre_bloc {
	margin-top: 1.8em;
	font-weight: bold;
	font-size: 1.6em;
	padding: 0;
}

@mixin aside_num_card {
	border-radius: 2em;
	background-color: $color-primary;
}

@mixin aside_card_ico ($color-i: $color-aside-ico) {
	margin-right: 1.3em;
	font-size: 1.1em;
	color: $color-i;
}

@mixin aside_card_text ($color-back: $color-aside-txt) {
	margin-top: 1.5em;
	margin-left: 0.9em;
	padding: 0.7em 2em 0.7em 2em; 
	display: flex;
	align-items: center;
	background-color: $color-back;
	border-radius: 1em;
	font-size: 1em; 
}

/* Page global */
#page {
	font-family: roboto, arial;
}

h1, h2 {
	font-family: shrikhand, arial;
}

/* Chargement Animation */
@keyframes sphere {
	0% {
		transform: translatey(0);
	}
	35% {
		transform: translatey(-3em);
	}
	70% {
		transform: translatey(0);
	}
}

@keyframes logo {
	0% {
		opacity: 0;
		transform: scale(1.2);
	}
	10% {
		opacity: 1;		
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: scale(4);
	}
}

@keyframes end {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		z-index: -10;
	}
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: $color-aside-txt;
	animation: end 50ms 2800ms both;
	&-grp {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2em;
		animation: end 250ms 1100ms both;
	}
	&-sphere {
		width: 3em;
		height: 3em;
		border-radius: 2em;
		opacity: 1;
		animation: sphere 800ms 2 ease-in-out;
		&__1 {
			background-color: $color-primary;
		}
		&__2 {
			background-color: $color-secondary;
			animation-delay: 100ms;
		}
		&__3 {
			background-color: $color-tertiary;
			animation-delay: 200ms;
		}
	}
	&-logo {
		opacity: 0;
		position: absolute;
		font-family: shrikhand, arial;
		animation: logo 1900ms 1100ms ease-in-out;
	}
}



/* Header */
header {
	text-align: center;
}

header img {
	width: 10em;
	margin: 1.5em 0 0.5em 0;
}

/* Localisation */
.localisation {
	background: linear-gradient(#d0d0d0 0%, #eaeaea 10%, #eaeaea);
}

.loc-cont {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	font-size: 1em;
	font-weight: bold;
	color: $color-footer;
	&__ico {
		padding-right: 1em;
	}
}

/* Réservation */
#reservation {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #f6f6f6;
}

.res-text {
	margin: 0.7em 2em 0 2em;
	padding-top: 0;
	font-size: 1.2em;
	color: $color-footer;
	&--bold {
		margin: 1.5em 2em 0 2em;
		font-weight: bold;
		font-size: 1.6em;
		padding: 0;
	}
}

.res-btn {
	margin: 1.8em 0 3.5em 0;
	padding: 1em 1.4em;
	cursor: pointer;
	border-radius: 2.1em;
	font-size: 1em;
	color: white;
	background-image: linear-gradient($color-secondary, $color-primary);
	@include bloc-shadows;
	position: relative;
	z-index: 2;
	&:hover {
		&::before {
			opacity: 1;
		}
	}
	&::before {
		content: "Explorer nos restaurants";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: inherit;
		cursor: inherit;
		border-radius: inherit;
		font-size: inherit;
		color: inherit;
		background-image: linear-gradient(lighten($color-secondary, 5), lighten($color-primary, 5));
		box-shadow: 0 0.4em 0.4em darken($color-shadow, 15);
		opacity: 0;
		z-index: 1;
		transition: opacity 200ms;
	}
}

/* Fonctionnement */
aside {
	@include skeleton_bloc;
	margin-bottom: 4.2em;
}

.bloc_titre {
	@include titre_bloc;
}

.aside-card {
	position: relative;
	margin-top: 0;
	&__bub {
		@include aside_num_card;
		position: absolute;
		top: 1.5em;
		padding: 0.2em 0.5em 0.2em 0.5em;
		&-num {
			color: white;
			font-size: 0.9em;
		}
	}
	&__text {
		@include aside_card_text;
		@include bloc-shadows;
		& i {
			@include aside_card_ico;
		}
		&-alt {
			@include aside_card_text(#f5edff);
			& i {
				@include aside_card_ico($color-primary);
			}
		}
	}
}

@media all and (max-width: 991px) and (min-width: 760px) {
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.aside-card {
		width: 20em;
		&__text {
			display: flex;
			justify-content: center;
		}
	}
}

@media all and (min-width: 992px) {
	aside {
		display: flex;
		flex-direction: column;
		align-items: baseline;
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 54em;
	}

	.aside {
		&-grp {
			display: flex;
			justify-content: center;
			gap: 3%;
			width: 54em;
		}
		&-card {
			width: 17em;
			&__bub {
				top: 3.1em;
			}
		}
	}
}

/* Restaurants */
section {
	@include skeleton_bloc;
	display: flex;
	flex-direction: column;
	background-color: #f6f6f6;
	margin-bottom: 0;
}

.restau-list {
	&:last-child {
		margin-bottom: 3em;
	}
	& a {
		text-decoration: none;
		color: black;
	}
	&-card {
		@include bloc-shadows;
		position: relative;
		display: flex;
		flex-direction: column;
		border-radius: 1em;
		margin-bottom: 1.1em;
		& img {
			width: 100%;
			height: 11em; 
			object-fit: cover;
			border-radius: 1em 1em 0 0;
			margin-bottom: 0;
		}
		&-txt {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.8em 1.6em 0.9em 0.8em;
			background-color: white;
			font-size: 1.1em;
			border-radius: 0 0 1em 1em;
			margin-top: 0;
			&__left {
				flex-direction: column;
				& p {
					margin: 0;
				}
				&-titre {
					font-weight: bold;
					padding-bottom: 0.4em;
				}
			}
		}
	}
}

.nota-nouveau {
	position: absolute;
	top: 0.9em;
	right: 0.9em;
	padding: 0.4em 0.9em 0.4em 0.9em;
	font-size: 0.9em;
	color: #008766;
	background-color: #99e2d0;
	border-radius: 0.2em;
}

.heart {
	position: relative;
	& .far {
		opacity: 1;
		font-size: 1.4em;
		transition: 1s;
	}
	& .fas {
		opacity: 0;
		font-size: 1.4em;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: -webkit-linear-gradient($color-primary, $color-secondary);
  	-webkit-background-clip: text;
  	color: transparent;
  	transition: 1s;
	}
	&:hover {
		& .far {
			opacity: 0;
		}
		& .fas {
			opacity: 1;
		}
	}
}

@media all and (max-width: 991px) and (min-width: 760px) {
	section {
		padding-left: 3em;
		padding-right: 3em;
	}

	.bloc_titre {
		align-self: center;
	}

	.restau-list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2em;
		& a {
			width: 47.5%;
		}
		&-card {
			margin-bottom: 0;
		}
	}	
}

@media all and (min-width: 992px) {
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.restau {
		width: 54em;
		&-list {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 2em;
			& a {
				width: 47.5%;
			}
			&-card {
				margin-bottom: 0;
			}
		}
	}
}
