/* Normalisation de la page */
@import url("normalize_css.css");


/* Police */
@font-face {
    font-family: 'shrikhand';
    src: url('police/shrikhand-regular-webfont.eot');
    src: url('police/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/shrikhand-regular-webfont.woff') format('woff'),
         url('police/shrikhand-regular-webfont.ttf') format('truetype'),
         url('police/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Page global */
#page {
	width: 271px;
}

h1, h2 {
	font-family: shrikhand, arial;
}

p {
	font-family: roboto, arial;
}

/* Header */
header {
	text-align: center;
}

header img {
	width: 118px;
	margin: 15px 0 7px 0;
}